:root {
  --aim-loader-belt-color: #5d5d5d;
  --aim-loader-belt-height: 4px;
  --aim-loader-belt-border-size: 2px;
  --aim-loader-belt-inseide-line-width: 2px;
  --aim-loader-belt-inseide-empty-width: 20px;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conveyor {
  position: relative;
  width: 240px;
  height: 70px;
  background: #fff;
  overflow: hidden;

  // Belt
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--aim-loader-belt-height);
    width: 100%;
    background-image: repeating-linear-gradient(
      to right,
      var(--aim-loader-belt-color),
      0,
      var(--aim-loader-belt-color),
      var(--aim-loader-belt-inseide-line-width),
      transparent var(--aim-loader-belt-inseide-line-width),
      transparent var(--aim-loader-belt-inseide-empty-width)
    );
    border-top: var(--aim-loader-belt-border-size) solid
      var(--aim-loader-belt-color);
    border-bottom: var(--aim-loader-belt-border-size) solid
      var(--aim-loader-belt-color);

    // This needed to create fade effect on left and right side of belt
    mask-image: linear-gradient(
      to right,
      transparent,
      var(--aim-loader-belt-color) 30%,
      var(--aim-loader-belt-color) 70%,
      transparent
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    animation: moveBelt 0.3s linear infinite;
    background-position: 0 0;
  }
}

.device {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  line-height: 0;
  font-size: 0;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  animation: conveyorMove 3s infinite ease-in-out;
  opacity: 0;
  animation-delay: calc(var(--index) * -2s);

  // Icons converted using https://yoksel.github.io/url-encoder/ cool stuff
  &-laptop {
    background-image: url("data:image/svg+xml,%3Csvg data-v-14c8c335='' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='M18 5a2 2 0 0 1 2 2v8.526a2 2 0 0 0 .212.897l1.068 2.127a1 1 0 0 1-.9 1.45H3.62a1 1 0 0 1-.9-1.45l1.068-2.127A2 2 0 0 0 4 15.526V7a2 2 0 0 1 2-2z' %3E%3C/path%3E%3Cpath d='M20.054 15.987H3.946'%3E%3C/path%3E%3C/svg %3E");
  }
  &-phone {
    background-image: url("data:image/svg+xml,%3Csvg data-v-14c8c335='' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Crect width='14' height='20' x='5' y='2' rx='2' ry='2'%3E%3C/rect%3E%3Cpath d='M12 18h.01'%3E%3C/path%3E%3C/svg %3E");
  }
  &-headphones {
    background-image: url("data:image/svg+xml,%3Csvg data-v-14c8c335='' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class=' ' %3E%3Cpath d='M3 14h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-7a9 9 0 0 1 18 0v7a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3' %3E%3C/path%3E%3C/svg %3E");
  }
}

@keyframes conveyorMove {
  0% {
    left: 90%;
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  10% {
    opacity: 0.2;
    transform: translateY(-50%) scale(0.92);
  }
  20% {
    opacity: 0.5;
    transform: translateY(-50%) scale(0.95);
  }
  50% {
    left: 50%;
    opacity: 1;
    transform: translateY(-50%) scale(1.5);
  }
  80% {
    opacity: 0.5;
    transform: translateY(-50%) scale(0.95);
  }
  90% {
    opacity: 0.2;
    transform: translateY(-50%) scale(0.92);
  }
  100% {
    left: 0;
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
}

// Animation like belt is moving
@keyframes moveBelt {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(-1 * var(--aim-loader-belt-inseide-empty-width)) 0;
  }
}
